/*  Denker 1.1 ©2020
           cards
========================================================================== */

$padding:6px;
$rad:.25rem;
.card{
    border-radius: $rad;
    position: relative;
    margin:5px;
    max-width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                    0 3px 1px -2px rgba(0,0,0,0.12),
                    0 1px 5px 0 rgba(0,0,0,0.2);

    .content{
        margin:5px;
        padding: $padding;
        padding-top:15px;
        border-radius:$rad $rad 0px 0px ;
        a{
            color:#53a8f8;
            text-decoration: none;
        }
        .title{
            display: inline-block;
            font-size: 22px;
            margin:5px;
            padding-bottom: 5px;
        }
    }
    .image{
        position: relative;
        border-radius:$rad $rad 0px 0px ;
        img{
            border-radius:$rad $rad 0px 0px ;
            max-width: 100%;
            cursor: pointer;
            transition: all ease .5s;
        }
        .i{
            border-radius:$rad $rad 0px 0px ;
            overflow: hidden;
            img{
            max-width: 100%;
            cursor: pointer;
            transition: all ease .5s;
                &:hover{
                    transform: scale(1.09) rotate(1deg);
                }
            }
        }
        .title{
            position: absolute;
            z-index: 1600;
            bottom:0;
            left:0;
            color:white;
            padding:20px;
            font-size: 25px;
        }
        .bdn-float{
            position: absolute;
            bottom:-20px;
            right: 20px;
            &.big{
                transform: scale(1.2);
            }
        }
    }
    .action{
        margin:5px;
        padding: 10px $padding 10px $padding;
        border-radius:$rad $rad 0px 0px ;
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-content: center;
        &:before{
            content:"";
            width: 100%;
            height: 1px;
            position: absolute;
            top:0;
            left:0;
            background:#ffffff31;
        }
        a{
            color:white;
            color:#53a8f8;
            text-decoration: none;
            display: flex;
            align-items: center;
            position:relative;
            margin:5px;
            &:before{
                content:"";
                width: 0%;
                height: 2px;
                position: absolute;
                bottom:-5px;
                left: 50%;
                background:#ffffff3a;
                transition: all ease .5s;
            }
            &:hover{
                &:before{
                    left:0;
                    width: 100%;
                }
            }
        }
    }
    .reveal{
        width: 100%;
        position: absolute;
        bottom:0;
        height: 100%;
        overflow: auto !important;
        border-radius: $rad;
        transition: all ease .5s;
        $megapad:15px;
        background:white;
        text-transform: capitalize;
        z-index: 1600;
            .title{
                display: inline-block;
                font-size: 22px;
                padding:$megapad;
            }
            .close{
                width: 24px;
                height: 24px;
                float: right;
                margin:5px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                &:before,&:after{
                    content: "";
                    width: 90%;
                    height: 2px;
                    border-radius: 3px;
                    position: absolute;
                    background:black;
                    cursor: pointer;
                }
                &:before{
                    transform: rotate(45deg);
                }
                &:after{
                    transform: rotate(-45deg);
                }
            }
            .content{
                padding:$megapad;
                margin:0px;
                padding-left: $megapad + 5px;
                p{
                overflow: scroll;}
            }
            &::-webkit-scrollbar{
                width: 3px;
                height: 3px;
            }
            &::-webkit-scrollbar-thumb{
                background:#53a8f8;
            }
    }
}
.cardPanel{
    background:#53a8f8;
    padding:25px;
    border-radius:$rad;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                    0 3px 1px -2px rgba(0,0,0,0.12),
                    0 1px 5px 0 rgba(0,0,0,0.2);
}
/*  Denker 1.1 ©2020
           icon for reveal
========================================================================== */
.rax{
    width:16px;
    height:16px;
    position: relative;
    $max:24%;
    display: flex;
    float:right;
    cursor: pointer;
    justify-content: center;
    transform: translate(-5px,5px);
    .der{
        width: $max;
        height: $max;
        position: absolute;
        background: black;
        top:0;
        border-radius: 50%;
        display: inline-flex;

    }
    &:before,&:after{
        content: "";
        position: absolute;
        width: $max;
        height: $max;
        background: black;
        border-radius: 50%;
        display: inline-flex;
    }
    &:before{
        top:50%;
        transform: translateY(-50%);
    }&:after{
        bottom:0;
    }
}

.breadcumbs{
    background: #53a8f8;
    padding: 10px;
    a{
        color:#ffffffab;
        text-decoration: none;
        text-transform: capitalize;
        &:before{
            content:">";
            $pads:5px;
            padding-left: $pads;
            padding-right:$pads ;
        }
    }
    a:nth-child(1){
        &:before{
            content:"";
        }
    }
    a:nth-last-child(1){
        color:white;
    }
}
.slider-container{
    position: relative;
    margin:5px;
    $colorbg:map-keys($denker-color);
    .slider{
        position: relative;
        appearance: none;
        width: 100%;
        height: 5px;
        border-radius: 3px;
        outline: none;
        z-index: 2;
        background:transparent;
        &::-webkit-slider-thumb{
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: #53a8f8;
            border-radius: 50%;
            cursor: pointer;
            outline:none;
            box-shadow: 0 0 0 0 #53a8f869;
            transition: all ease .3s;
            &:hover{
                box-shadow: 0 0 0 10px #53a8f869;
            }
        }
        &:active::-webkit-slider-thumb{
            box-shadow: 0 0 0 15px #53a8f869;
        }
    }
    .bar{
        position: absolute;
        z-index: 1;
        left:0;
        top:8.5px;
        width: 100%;
        height: 5px;
        background: rgba(#53a8f8,0.4);
        border-radius: 5px;
        .fill{
            display: block;
            width: 50%;
            height: 100%;
            background: #53a8f8;
            border-radius: 5px;
        }
    }
    @for $i from 2 through length($colorbg) {
        &.#{nth($colorbg,$i)}{
            
            background:none !important;
            .slider{
                &::-webkit-slider-thumb{
                    background-color: map-get($denker-color,nth($colorbg,$i));
                    box-shadow: 0 0 0 0 rgba(map-get($denker-color,nth($colorbg,$i)),.412);
                    &:hover{
                        box-shadow: 0 0 0 10px rgba(map-get($denker-color,nth($colorbg,$i)),.412);
                    }
                }
                &:active::-webkit-slider-thumb{
                    box-shadow: 0 0 0 15px rgba(map-get($denker-color,nth($colorbg,$i)),.412);
                }
            }
           .bar{
               background:rgba(map-get($denker-color,nth($colorbg,$i)),.4);
               .fill{
                   background:map-get($denker-color,nth($colorbg,$i));
               }
           }
        }

    }
}