
/*  Denker 1.1 ©2020
           gris system
========================================================================== */

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  
    // Clear floating children
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

.col {
    float:left;
}

@function colums($cols,$totalcols){
    @return $cols / $totalcols
};
$max-grid:12;
@for $i from 1 through $max-grid {
        .col.s#{$i}{
            width: percentage(colums($i,$max-grid));
        }
        .col.offset-by-s#{$i}{
            margin-left: percentage(colums($i,$max-grid));
        }
}
@for $i from 1 through $max-grid {
        .col.m#{$i}{
            width: percentage(colums($i,$max-grid));
        }
        .col.offset-by-m#{$i}{
            margin-left: percentage(colums($i,$max-grid));
        }
}
@for $i from 1 through $max-grid {
        .col.xl#{$i}{
            width: percentage(colums($i,$max-grid));
        }
        .col.offset-by-xl#{$i}{
            margin-left: percentage(colums($i,$max-grid));
        }
}
@media screen and (max-width: 1000px) {
    @for $i from 1 through $max-grid {
        .col.xl#{$i}{
            width: percentage(colums($i,$max-grid)) !important;
        }
        .col.offset-by-xl#{$i}{
            margin-left: percentage(colums($i,$max-grid)) !important;
        }
    }
}
@media screen and (max-width: 800px) {
    @for $i from 1 through $max-grid {
        .col.m#{$i}{
            width: percentage(colums($i,$max-grid)) !important;
        }
        .col.offset-by-m#{$i}{
            margin-left: percentage(colums($i,$max-grid)) !important;
        }
    }
}
@media screen and (max-width: 600px) {
    @for $i from 1 through $max-grid {
        .col.s#{$i}{
            width: percentage(colums($i,$max-grid)) !important;
        }
        .col.offset-by-s#{$i}{
            margin-left: percentage(colums($i,$max-grid)) !important;
        }
    }
}

