
/*  Denker 1.1 ©2020
           switches
========================================================================== */
@mixin switch-normal($width,$colorbg...) {
    margin:5px;
    $s-w:$width;//this is the switch width no se recomienda modificar
    $s-h:$s-w / 2;//this is the switch height no se recomienda modificar
    $s-a-w:$s-h - 4px;//this is 
    $switchTransition:.5s;//this is the switch transition
    // general styles for switches //
    background:#b4bfbf !important;
    display: inline-block !important;
    width: $s-w;
    height: $s-h;
    border-radius: $s-h;
    position: relative;
    cursor: pointer;
    transition: background ease $switchTransition;
    &:after {
        width: $s-a-w;
        height: $s-a-w;
        content: "";
        background: white;
        position: absolute;
        top:50%;
        border-radius: 50%;
        transform: translateY(-50%) translateX(2px);
        transition: all ease $switchTransition;
    }
    &.active {
        &::after {
            transform: translateX($s-w - $s-a-w - 2px) translateY(-50%);
        }
        background:map-get($denker-color,nth($list: $colorbg, $n: 1)) !important;
    }
    @if length($colorbg) > 1{
        @for $i from 2 through length($colorbg) {
            &.active.#{nth($list: $colorbg, $n: $i)}{
                background: map-get($denker-color,nth($list: $colorbg, $n: $i)) !important;
            }
        }
    }
}
.switch {@include switch-normal(48px,map-keys($denker-color)...);}
.switch-minimal {@include switch-normal(32px,map-keys($denker-color)...);}
.switch-big {@include switch-normal(56px,map-keys($denker-color)...);}
.switch-normal {@include switch-normal(40px,map-keys($denker-color)...);}
