/*  Denker 1.1 ©2020
           toast
========================================================================== */
.toast {
    width: 360px;
    display: inline-block;
    background:#ffffff80;
    border-radius: .25rem;
    font-size: .879rem;
    margin:.75rem;
    position: relative;
    z-index: 100000;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    //transition: all ease .5s;
    .toast-header {
        padding: 7px 12px;
        width: 100%;
        border-radius: .25rem .25rem 0px 0px;
        background:#ffffff85;
        border-bottom: 1px solid rgba(0,0,0,.05);
        svg {
            border-radius: .25rem;
            fill: map-get($denker-color,blue) !important;
            $colorbg:map-keys($denker-color);
            @if length($colorbg) > 1{
                @for $i from 2 through length($colorbg) {
                    &.#{nth($colorbg,$i)}{
                        fill: map-get($denker-color,nth($colorbg,$i)) !important;
                    }
                }
            }
            
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            display: inline-flex;
            align-items: center;
            .title{
                margin-left:7px;
                font-weight: bold;
            }
        }
    }
    .content{
        padding: .75rem;
    }
}

#toast-container{
    position: fixed;
    top:30px;
    right:30px;
    width:390px;
    z-index: 90000;
}


.tiling {
    animation: box normal .5s;
}
@keyframes box {
    from {
    transform:translateY(25px);
    transform-origin: center bottom;
    }

    to{
      transform:translateY(0px);
    }
}


